/* .add-radiologist-modal {
 
  width: 100%;
  position: relative;
  top: 150px;
  padding-bottom: 260px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
} */
/* 
.add-radiologist-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7f56d9;
  margin-bottom: 60px;
} */

.add-radiologist-modal p {
  color: #ffffff;
  text-align: left !important;
  font-family: GothamBook;
  font-size: 1rem !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 0% !important;
  letter-spacing: -1.28px;

  margin-bottom: 10px;
}

.add-radiologist-modal h2 {
  color: #ffffff;
}

/* .add-radiologist-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 98vw;
} */

/* .add-radiologist-modal {
  background: gray;
} */

.add-radiologist-modal form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40vw;
}

.add-radiologist-modal input,
.add-radiologist-modal select {
  height: 35px !important;
  /* width: 29vw; */
  border-radius: 10px;
  border: 2px solid #be8a60;
  padding-left: 10px;
  line-height: 0% !important;
}

.add-radiologist-modal button {
  height: 35px !important;
  /* width: 100px; */
  background-color: #be8a60;
  color: white;
  border: none;
  border-radius: 10px;
  display: flex;
  padding: 24px 56px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* .add-radiologist-modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 5px solid rgba(127, 86, 217, 0.2);
  border-radius: 5px;
  width: 40vw;
  padding: 40px 0;
} */

.submit-cancel-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.add-radiologist-modal label {
  text-align: left;
}

#submit-button {
  background-color: #76abae;
  color: black;
  font-weight: 500;
}

#cancel-button {
  background-color: #f7412c;
  color: black;
  font-weight: 500;
}

.react-tel-input .form-control {
  width: 545px !important;
}

.fields-div {
  display: flex;
  align-items: end;
  gap: 20px;
}
