@import url("//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800");

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.navbar-container {
  display: flex;
  /* width: 100vw; */
  height: 60px;
  background-color: #222831;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.navbar-container p {
  color: white;
  font-family: Oswald;
}

.navbar-left {
  display: flex;
  margin-left: 20px;
  /* margin-top: 20px; */
}

.navbar-left p {
  letter-spacing: 0.1em;
}

.navbar-left img {
  height: 40px;
  width: 60px;
}

/* .tek {
  color: #f08022;
} */

.navbar-mid {
  display: flex;
  /* width: 20%; */
  align-self: center;
  gap: 40px;
  margin-left: 750px;
}

.navbar-mid a {
  text-decoration: none;
  color: #e5ffde;
  font-family: Oswald;
  letter-spacing: 0.1em;
}

.navbar-right {
  display: flex;
  margin-right: 20px;
}

/* CSS */
.login-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #efecca;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1.75rem;
  padding: calc(0.875rem - 8px) calc(1.5rem - 5px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.login-button:hover,
.login-button:focus {
  background-color: #ff6666;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.home-div a:hover,
.about-div a:hover,
.contact-div a:hover {
  color: #ff6666;
}

.login-button:hover {
  transform: translateY(-1px);
}

.login-button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
